.breakfasts-container {
    margin: 50px 5px;
    background-color: white;
    padding: 20px 50px;
    border-radius: 5px;
}

.breakfast {
    display: flex;
    width: 400px;
    margin-top: 12px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: white;

}

.breakfast-img{
    display: flex;
    flex: 1;
    height: 255px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.breakfast-details{
    display: flex;
    flex-direction: column;
    flex: 1;
}